@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    box-sizing: border-box
}
body{
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgba(233, 3, 214, 0.452);
    box-sizing: border-box;
}
.head{
    border: 5px;
    border-color: #000000;
}
.head{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    border-color: blue;
}
form{
    position: absolute;
    top: 54.7%;
    left: 80%;
    height: 39%;
    width: 15%;
    transform: translate(-50%, -50%);
    transition: 0s;
}
button{
    color: #121212;
    float: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(116, 65, 122);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2.5s;
}
.search{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #0e0e10;
    font-size: 16px;
    transition: 1s;
    line-height: 40px;
    width: 0px;
}
form:hover{
    display: flex;
    top: 52%;
    left: 80%;
    transform: translate(-50%, -50%);
    background:rgb(0, 0, 0);
    height: 39%;
    width: 15%;
    border-radius: 40px;
    padding: 3px;
}
form:hover > .search{
    width: 67%;
    margin-top: -3px;
    margin-left: 24px;
    background-color: aqua;
}

form:hover > button{
    background: white;
}


