
.b1{

    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: -120px;
    margin-left: 790px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #CA3699 37.16%, #952695 80.09%);
    color: white;
}

.b2{

    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, rgba(233, 28, 168, 0.582) 37.16%, #BD24C8 80.09%);
    color: white;
}
.b3{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 108px;
    margin-left: 490px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, rgba(233, 28, 168, 0.7) 37.16%, #bd24c898 80.09%);
    color: white;
    z-index: 0;

}

.b4{

    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: -180px;
    margin-left: -160px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #9c1770 37.16%, #952695 80.09%);
    color: white;
    z-index: 0;
}

.b5{

    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 790px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, rgba(233, 28, 168, 0.7) 37.16%, #BD24C8 80.09%);
    color: white;
    z-index: 0;
}

.b6{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top:390px;
    margin-left: 190px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #9c1770 37.16%, #952695 80.09%);
    color: white;
    z-index: 0;
}




.b7{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top:155px;
    margin-left: 990px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #9c1770 37.16%, #952695 80.09%);
    color: white;
    z-index: 0;
}

.b8{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top:290px;
    margin-left:-230px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #9c1770 37.16%, #952695 80.09%);
    color: white;
    z-index: 0;
}
   



