@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
	margin: 0;
    display: flex;
	position: relative;
    justify-content: center;
    align-items: center;
    background: #29162E;
    overflow-x: hidden;

}
.container{
	height: 80%;
	width: 80%;
	margin: 0;
    padding: 6.5%;
    color: red;
	font-size: 25px;
	color: white;
	flex-direction: row;
}
.letra{
    width:  50%;
    height: 3rem;
    margin-top: 1px;
    margin-left: 23%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}
p{
    margin-top: -10%;
    width: 100%;
    height: 100%;
    font-size: 130%;
    font-weight: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.a{
    width: 22%; 
    height: 6rem;
    margin-top: 3%;
    margin-left: 6.9%;
    display: inline-block;
    background-color: rgba(255,255, 255, 0.479);
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    margin-bottom: 4%;
    backdrop-filter: blur(4px);
    font-family: 'Inter';
    padding-top: 3.4%;
    padding-right: 0.3%;
}


/*.m1{
    width: 13%;
    height: 6rem;
    left: 667px;
    top: 32px;
    margin-top: 50px;
    margin-left: -355px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 25px;
    position: ;
    display: inline-block;
    backdrop-filter: blur(4px);
    z-index: 1;
}
.Rock{
    align-items: center;
}

.m2{
    width: 13%;
    height: 5rem;
    left: 667px;
    top: 323px;
    margin-top: 50px;
    margin-left: -355px;
    position: absolute;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 25px;
    backdrop-filter: blur(4px);
    z-index: 1;
}

.MPB{
    align-items: center;
    color: white;
}

.m3{
    width: 13%;
    height: 96px;
    left: 667px;
    top: 323px;
    margin-top: -120px;
    margin-left: -55px;
    position: absolute;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 25px;
    backdrop-filter: blur(4px);
    z-index: 1;
}

.POP{
    align-items: center;
    color: white;
}


.m4{
    width: 13%;
    height: 96px;
    left: 667px;
    top: 323px;
    margin-top: 50px;
    margin-left: -55px;
    position: absolute;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 25px;
    backdrop-filter: blur(4px);  
    z-index: 1;
}

.trap{
    align-items: center;
    color: white;
}

.m5{
    width: 13%;
    height: 96px;
    left: 667px;
    top: 323px;
    margin-top: -120px;
    margin-left: 250px;
    position: absolute;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 25px;
    backdrop-filter: blur(4px);  
    z-index: 1;
}
.samba{
    align-items: center;
    color: white;
}

.m6{
    width: 13%;
    height: 96px;
    left: 667px;
    top: 323px;
    margin-top: 50px;
    margin-left: 250px;
    position: absolute;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 25px;
    backdrop-filter: blur(4px);  
    z-index: 1;
}

.eletronico{
    align-items: center;
    color: white;
}
.letra{
    width:  800px;
    height: 116px;
    margin-top: -300px;
    margin-left: 31px;
    z-index: 1;
    display: flex;
    align-items: top;
    color: white;
    font-family: 'Inter';
    font-style: Semi Bold;
    font-weight: 400;
    font-size: 70px;
    line-height: 116px;
    
    
}*/
.b1{

    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: -120px;
    margin-left: 790px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #CA3699 37.16%, #952695 80.09%);
    color: white;
}

.b2{

    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, rgba(233, 28, 168, 0.582) 37.16%, #BD24C8 80.09%);
    color: white;
}
.b3{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 108px;
    margin-left: 490px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, rgba(233, 28, 168, 0.7) 37.16%, #bd24c898 80.09%);
    color: white;
    z-index: 0;

}

.b4{

    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: -180px;
    margin-left: -160px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #9c1770 37.16%, #952695 80.09%);
    color: white;
    z-index: 0;
}

.b5{

    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 790px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, rgba(233, 28, 168, 0.7) 37.16%, #BD24C8 80.09%);
    color: white;
    z-index: 0;
}

.b6{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top:390px;
    margin-left: 190px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #9c1770 37.16%, #952695 80.09%);
    color: white;
    z-index: 0;
}




.b7{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top:155px;
    margin-left: 990px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #9c1770 37.16%, #952695 80.09%);
    color: white;
    z-index: 0;
}

.b8{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top:290px;
    margin-left:-230px;
    z-index: 0;
    position: absolute;
    background: linear-gradient(146.51deg, #9c1770 37.16%, #952695 80.09%);
    color: white;
    z-index: 0;
}

.neon-btn{  
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    color: rgb(221, 15, 194);
    border: 6px solid rgb(221, 15, 194);
    padding: 10px 58px;
    border-radius: 16px;
    text-shadow: 0 0 8px rgba(255,255, 255, 0.3), 0 0 29px rgb(221, 15, 194);
    box-shadow: inset 0 0 28px rgb(221, 15, 194), 0 0 28px rgb(221, 15, 194);
    position: relative;
}
.neon-btn::before{
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgb(221, 15, 194);
    left: 0;
    top: 120%;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
}

.neon-btn::after{
content: "";
position: absolute;
top:0;
left:0;
right: 0;
bottom: 0;
background-color:rgb(221, 15, 194);
box-shadow: 0 0 128px 32px rgb(221, 15, 194);
z-index: -1;
opacity: 0;
transition: opacity 100ms linear;
}

.neon-btn:hover::after,
.neon-btn:focus::after {
    opacity: 1;
}
.neon-btn:hover::before,
.neon-btn:focus::before{
    opacity: 1;
}
.neon-btn:focus{
    color: black;
    text-shadow: none;
}


.rodape{
    position: absolute;
    display: flex;
    justify-content: end;
    width: 98%;
    height: 20vh;
    top: 80vh;
    left: 10px;
    right: 10px;
    background: transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn {
	float: inline-block;
	width: 100px;
	margin-top: 600px;
	margin-left: 50px;
}